.container {
	height:180vh;
  display: grid;
  grid-template-columns: .75fr 1fr .75fr;
  grid-template-rows: 0.5fr auto 1fr 0.25fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo logo logo"
    "genres slideshow popular"
		"genres games popular"
    "footer footer footer";
		background-color: #ab50e8;
}
.slideshow {
	grid-area: slideshow;
	background-color:yellow;
	color:white;
	border-radius:20px;
	margin:2rem 4rem;
	color:black;
	border-style: solid;
	box-sizing: border-box;
	width:40rem;
	height:30rem;
	overflow:hidden;


}
.slide img {
	width:100%;
}
.slide {
	display: none;
}
.slide a {
	text-decoration:none;
	color:black;
}
/* Slideshow container */
.slideshow-container {
	position: relative;
	vertical-align:middle;
}
.popular {
	grid-area: popular;
	margin:2rem;
	background-color: #00e673;
	border-radius:20px;
	border-style:solid;
	width:20rem;
	height:40rem;
	overflow:hidden;

 }
 .populartitle {
	 border-style: none none solid none;
	 padding-top:1rem;
	 padding-bottom:1rem;
	 width:100%;
	 line-height:1;
	 display:block;
	 text-align:center;
	 font-size:22px;
	 font-family:Helvetica;
	 font-weight:bold;
	 background-color:#4d4dff;
 }
.logo {
	grid-area: logo;
	text-align:center;
	padding-top:3rem;
	padding-bottom:3rem;
}
.logo img {
	width:20em;
}
.genres {
	grid-area: genres;
	background-color: #00e673;
	margin:2rem 2rem 0 0;
	height:40rem;
	width:20rem;
	border-style:solid solid solid none;
	border-radius:0 20px 20px 0;
	overflow:hidden;
}
.genrestitle {
	border-style:none none solid none;
	padding-top:1rem;
	padding-bottom:1rem;
	width:100%;
	line-height:1;
	display:block;
	text-align:center;
	font-size:22px;
	font-family:Helvetica;
	font-weight:bold;
	background-color:#4d4dff;
}
.games {
	grid-area: games;
	margin:0rem 4rem;
	height:30rem;
	background-color:#4d4dff;
	border-radius:20px;
	border-style:solid;
 }


body {
	background-color:#00e673;
	margin:0;
}


/* Footer */
.footer {
	grid-area: footer;
	text-align: center;
	height:40px;
	padding-bottom:15px;
	padding-top:15px;
	color: black;
	font-family:helvetica;
}
.footerbtm {
	font-size:11px;
	color: white;
}
.footertxt a {
	font-size:13px;
	text-decoration:none;
	color: white;
}
