body {
	background-color:#A956DC;
	padding-left:20%;
	padding-right:20%;
	font-family:helvetica;
}
.logo {
	text-align:center;
	padding-top:1rem;
	padding-bottom:1rem;
}
.logo img {
	width:15em;
}
.navbar {
	background-color:#5E1C88;
	padding:1rem 0 1rem 4rem;
}
.navbar a {
	color:white;
	text-decoration:none;
	font-weight:bold;
}

main {
	background-color:#BE80E5;
	margin-top:1rem;
	height:auto;
	padding-bottom:1rem;
	text-align:center;
}
h3 {
	padding:1rem 0 0 1rem;
	font-size:20px;
}
h2 {
	padding-top:1rem;
}
#games {
	margin:1rem;
	position:relative;
}
.gamerow {
	display:block;
	position:relative;
	text-align:left;
}
.game img {
	width:300px;
	border-style:solid;
	border-color:white;
	border-width:2px;
}
.game {
	text-align:center;
	display: table-cell;
	width:.3333%;
}
.game h4 {
	margin:0 0 1rem 0;
	text-decoration:none;
	color:black;
	display:inline-block;
}
.game a {
	text-decoration:none;
	color:black;
}
#moregames {
	text-align:center;
	margin-top:1rem;
}
#moregames a {
	padding: 1rem 2rem 1rem 2rem;
	background-color:#5E1C88;
	color:white;
	text-decoration:none;
	font-weight:bold;
}
#moregames a:hover {
	background-color:#8427be;
}
embed {
	width:800px;
	height:600px;
}